@using BackgammonBlazor.Helpers
@using BackgammonBlazor.Models
@rendermode InteractiveServer

@RenderChecker()

@code {
    [Parameter, EditorRequired]
    public CheckerModel GameModel { get; set; }

    [Parameter, EditorRequired]
    public int Offset { get; set; }

    private RenderFragment RenderChecker() => (__builder) =>
    {
        string cssCheckerClass = GetCheckerClassCss(GameModel.CheckerColor);
        string cssCheckerStyle = GetCheckerStlyeCss(GameModel.Point.IsTopPoint(), Offset);
        int numCheckersOnPoint = GameModel.Point.Checkers.Count;

        <div class="checker @(cssCheckerClass)" style="@(cssCheckerStyle)">
            @(Offset == 4 && numCheckersOnPoint > 5 ? $"{numCheckersOnPoint}" : "")
        </div>
    };

    private string GetCheckerClassCss(CheckerColor color)
        => color == CheckerColor.Light ? "checker-light" : "checker-dark";

    private string GetCheckerStlyeCss(bool isTopPoint, int offset)
        => $"{(isTopPoint ? "top" : "bottom")}: {offset * 50}px";
}