@using BackgammonBlazor.Models.Checker
@using BackgammonBlazor.Models.Player
@rendermode InteractiveServer

@RenderChecker()

@code {
    [Parameter, EditorRequired]
    public CheckerModel CheckerModel { get; set; }

    [Parameter, EditorRequired]
    public int Offset { get; set; }

    private RenderFragment RenderChecker() => (__builder) =>
    {
        string cssCheckerClass = GetCheckerClassCss();
        string cssCheckerStyle = GetCheckerStlyeCss();
        int numCheckersOnPoint = CheckerModel.Point.Checkers.Count;

        //TODO: Make text color white for black checkers
        <div class="checker @(cssCheckerClass)" style="@(cssCheckerStyle)">
            @(Offset == 4 && numCheckersOnPoint > 5 ? $"{numCheckersOnPoint}" : "")
        </div>
    };

    private string GetCheckerClassCss()
        => CheckerModel.PlayerColor == PlayerColor.Light ? "checker-light" : "checker-dark";

    private string GetCheckerStlyeCss()
        => $"{(CheckerModel.Point.IsTopPoint() ? "top" : "bottom")}: {Offset * 50}px";
}