@page "/weather"
@using BackgammonBlazor.Components.GameComponents
@using BackgammonBlazor.Models.Game
@using BackgammonBlazor.Models.Player
@using Microsoft.AspNetCore.Components.Rendering
@inject GameModel Game
@inject GameInitializer GameInitializer
@inject GameEventManager GameEventManager
@rendermode InteractiveServer

<h3>Backgammon</h3>

<PlayerPanel PlayerColor="@PlayerColor.Light" />
<Board />
<PlayerPanel PlayerColor="@PlayerColor.Dark" />

@code {
    protected override void OnInitialized()
    {
        GameInitializer.Initialize(Game);

        GameEventManager.Subscribe(OnGameEventReceived);
    }

    private void OnGameEventReceived()
    {
        //TODO: Refreshing the page in the browser breaks this
        /*
         * System.InvalidOperationException: 
         * 'The current thread is not associated with the Dispatcher. 
         * Use InvokeAsync() to switch execution to the Dispatcher when triggering rendering or component state.'
         */
        StateHasChanged();
    }
}
