.dice-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.dice {
    padding: 4px;
    background-color: white;
    height: 54px;
    width: 54px;
    border-radius: 10%;
    border: solid black 1px;
}

.dot {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
}

.first-face {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-face {
    display: flex;
    justify-content: space-between;
}

.second-face .dot:nth-of-type(2) {
    align-self: flex-end;
}

.third-face{
    display: flex;
    justify-content: space-between;
}

.third-face .dot:nth-of-type(2) {
    align-self: center;
}

.third-face .dot:nth-of-type(3) {
    align-self: flex-end;
}

.fourth-face {
    display: flex;
    justify-content: space-between;
}

.fourth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fifth-face {
    display: flex;
    justify-content: space-between;
}

.fifth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fifth-face .column:nth-of-type(2) {
    justify-content: center;
}

.gray-out {
    filter: grayscale(100%) opacity(0.5);
}